<div class="max-w-sm min-w-64 rounde-b overflow-hidden shadow-lg hover:bg-amaranth-100" id="<%= dom_id lesson %>">

  <%= link_to [:admin, @admin_course, lesson] do %>
    <% if lesson.video.present? %>
      <%# Grabbing thumbnail off the video, check lesson model %>
      <%= image_tag lesson.video.preview(:thumb), class:'w-full rounded-t' %>
    <% else %>
      <%= image_tag("https://via.placeholder.com/320") %>
    <% end %>

    <div class="px-6 py-4"> 
      <div class="font-bold text-2xl">
        <% if lesson.paid %>
          <%= icon('fa-solid', 'lock', class:'mr-2 text-gray-600') %>
        <% end %>
        <%= lesson.title %>
      </div>
    </div>

  <% end %>

</div>
